<!DOCTYPE html>
<html>
  <head>
    <title>OregonTours</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">

          <% flash.each do |key, value| %>
            <%= content_tag :div, value, class: "flash #{key}" %>
          <% end %>

          <h1 class="page-header text-center">Oregon Tours</h1>
          <%= yield %>
        </div>
      </div>
    </div>

  </body>
</html>
